html
    head
        meta(charset="UTF-8")
        title My Gamer
    body
        div(id="app")
script(src="//cdn.jsdelivr.net/npm/phaser@3.24.0/dist/phaser.js")
script(src="/js/Scene1.js")
script(src="/js/game.js")